body {
    background-image: url('https://i.gifer.com/76YS.gif'); /* Arkaplan için gif */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kutu {
    border: 2px solid rgb(66, 66, 66); /* Gri border */
    padding: 20px;
    border-radius: 10px;
    background-color: #161515; /* Arka plan rengi */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: rgb(66, 66, 66);
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: rgb(66, 66, 66);
}

input[type="submit"] {
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#file{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
  }
  
  .ek{
    color: aqua;
    text-align: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

    .kutu2 {
        border: 2px solid rgb(66, 66, 66); /* Gri border */
        padding: 20px;
        border-radius: 10px;
        background-color: #161515; /* Arka plan rengi */
        float: right;
    }

    .Profilebar {
        border: 2px solid rgb(46, 42, 42); /* Gri border */
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(66, 66, 66); /* Arka plan rengi */
        float: right;
        width: 110px;
        height: 10px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    a{
        color: #00000000;
    }

    #foto{
        border-radius: 100%;
    }

    .br{
        color: #161515;
    }

    .Lbl{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }


    