body {
    background-image: url('https://i.gifer.com/76YS.gif'); /* Arkaplan için gif */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .kutu2 {
        border: 2px solid rgb(66, 66, 66); /* Gri border */
        padding: 20px;
        border-radius: 10px;
        background-color: #161515; /* Arka plan rengi */
        float: right;
    }

    .Profilebar {
        border: 2px solid rgb(46, 42, 42); /* Gri border */
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(66, 66, 66); /* Arka plan rengi */
        text-align: center;
    }

    #pp{
        border-radius: 10px;
        width: 200px;
    }

    #İsim{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #Açıklama-Başlık{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #Açıklama-yazı{
        color: rgb(211, 206, 206);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #Linkler{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .br{
        color: rgb(66, 66, 66);
    }

    #roblox{
        background-color: black;
        width: 100%;
        height: 30px;
        color: white;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: background-color 0.4s ease;
        font-size: larger;
    }

    #roblox:hover{
        background-color: white;
        width: 100%;
        height: 30px;
        color: black;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        transition: background-color 0.4s ease;
    }

    #youtube{
        background-color: red;
        width: 100%;
        height: 30px;
        color: white;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: background-color 0.4s ease;
        font-size: larger;
    }

    #youtube:hover{
        background-color: white;
        width: 100%;
        height: 30px;
        color: red;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        transition: background-color 0.4s ease;
    }

    #Discord{
        background-color: #5865F2;
        width: 100%;
        height: 30px;
        color: white;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: background-color 0.4s ease;
        font-size: larger;
    }

    #Discord:hover{
        background-color: white;
        width: 100%;
        height: 30px;
        color: #5865F2;
        font-weight: bolder;
        border: 2px black solid ;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        transition: background-color 0.4s ease;
    }
      
