body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 221, 200);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-right: 20px;
}

header h1 {
    margin-right: auto;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: #fff;
}

section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.image {
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

iframe{
    display:block;
}


