body {
    background-image: url('https://i.gifer.com/76YS.gif'); /* Arkaplan için gif */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.kutu {
    border: 2px solid rgb(66, 66, 66); /* Gri border */
    padding: 20px;
    border-radius: 10px;
    background-color: #161515; /* Arka plan rengi */
    margin: auto;
}

label {
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ürün{
    border: 2px solid rgb(66, 66, 66); /* Gri border */
    padding: 20px;
    border-radius: 10px;
    background-color: #161515; /* Arka plan rengi */
    margin: auto;
}

